@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
padding-top: 60px;
background-color: #000;
color: #fff;}

header {
display: flex;
position:fixed;
top: 0;
width: 100%;
height: 60px;
justify-content: space-between;
background-color: rgb(35, 37, 43);
z-index: 9;
}

.menu {display: flex;}

.navbar {  
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
}

.nav-p {
    color:#a0a0a0;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.nav-menu {
display: flex;
position: fixed;
top: 60px;
left: -100%;
padding: 20px 20px;
background-color: rgb(20, 21, 25);
flex-direction: column;
width: 100% !important;
height: 100vh;
transition: 0.1s;
font-size: 1rem;
}

.nav-menu2 {
display: flex;
flex-direction: column;
padding-top: 15px;
margin-top: 15px;
border-top: 1px solid gray; }

.nav-menu.active { left: 0; }

.nav-item {
list-style: none;
margin: 16px 0;
}

.nav-link {
color: #fff;
text-decoration: none;
transition: 0.5s ease;
}

.hamburguer {
display: block;
cursor: pointer;
font-size: 20px;
margin-left: 12px;
z-index: 3;
}

.navbar:hover { background-color: #202020;}

.hamburguer.active .bar:nth-child(2) { opacity: 0; }

.hamburguer.active .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
}

.bar {
display: block;
width: 20px;
height: 2px;
border-radius: 2px;
margin: 5px auto;
background-color:#fff;
transition: all 0.3s ease-in-out;
}

.logo {
display: flex;
width: 60px;
justify-content: center;
align-items: center;
margin-left: 15px;
padding-top: 4px;
padding-right: 5px;

}

.logo img { width: 40px; }

.logo p:hover { color: #fff; cursor: pointer;}

.icones { display: flex; }

.icon {
width: 60px;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
}

.icon:hover { background-color: #202020;}

.fa {color: #fff; font-size: 20px;}

.fa-star { color: rgb(250, 184, 24);}


/* SESSÃO SLIDE*/

#carrosel {
position: relative;
width: 100%;
height: 500px;
}

#bcg {
width: 100%;
height: 100%;
}


#slider {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0 auto;
overflow: hidden;
height: 420px;
width: 280px;
z-index: 1;
}

.container {
display: flex;
transition: transform 0.3s ease-in-out;
transform: translateX(0);
}

.container img {
object-fit: cover;
height: 100%;
min-width: 280px;
}


/* BOTÃO CLASSIFICAÇÃO*/

.classificacao {
display: flex;
align-items: center;
margin: 40px auto;
color: #fff;
background-color: #232323;
padding: 10px 0;
padding-left: 15px;
width: 320px;
}

.fa-exclamation-circle {
color: #fff;
margin-right: 10px !important;}


/* SESSÃO ASSISTA GRATÍS*/

#watch-free {
color: #fff;
background-color: #000;
padding-left: 15px;
}

#watch-free h2 { margin-bottom: 10px; }

.blue-bar {
height: 4px;
background-image: linear-gradient(to left,#213944,#2abdbb);
width: 95%;
margin: 10px 0;
}


#watch-item {
display: flex;
gap: 10px;
overflow-x: auto;
}

#watch-item::-webkit-scrollbar { width: 0%; }


.animes-sugest {
display: flex;
flex-direction: column;
min-width: 170px;
min-height: 330px;
}


.animes-sugest img {
width: 100%;
height: 250px;
}

.animes-sugest h3 {
color: #fff;
text-align: start;
min-width: 100%;
font-size: 0.9rem;
margin-top: 10px;
margin-bottom: 5px;
word-wrap: break-word;
}

.animes-sugest > p {
font-size: 0.9rem;
color: #a0a0a0;
max-width: 100%;
}


.cartaz {
    max-width: 600px;
    padding: 0 15px;
}

.cartaz img {
    width: 100%;
}


/* SESSÃO LANÇAMENTOS*/

#new-animes {
min-height: 400px;
margin-top: 40px;
padding: 0 15px;
}

.fa-play-circle-o {
font-weight: normal;
font-size: 25px;
margin-right: 7px;
}


.orange-bar {
width: 100%;
margin-top: 10px;
margin-bottom: 15px;
height: 4px;
background-image: linear-gradient(to left,#fab818,#ef4323);
}

#hoje-item {
padding-top: 15px;
margin-top: 15px;
border-top: 2px solid rgb(104, 104, 104);
}

.animes-new {
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
height: 105px;
width: 100%;
}

.covers-img {
width: 40%;
height: 100%;
}

.covers-img img {
width: 100%;
}

.covers-descript {
width: 60%;
position: relative;
height: 100%;
display: flex;
flex-direction: column;
gap: 5px;
}

.covers-descript h4 {
font-size: 0.9rem;
}

.covers-descript .fa-star {
font-size: 15px;
margin-right: 5px;
}

.covers-descript p {
font-size: .875rem;
color: #a0a0a0;
}

.covers-descript .covers-time {
    color: #2abdbb;
    position: absolute;
    bottom: 29%;
    right: 0;
}

#ontem-item {
display: flex;
flex-direction: column;
margin-top: 15px;
padding-top: 15px;
border-top: 2px solid rgb(104, 104, 104);
}

#hidden-ontem { display: none; }
#hidden-ontem.active { display: block; }

.see-more {
width: 100%;
height: 40px;
border: none;
color: #fff;
font-weight: bold;
background-color: #213944; 
}

.see-more:hover{  background-color: #1d8482; }

.propaganda {
width: 100%;
padding: 15px;
margin-top: 30px;
display: flex;
flex-direction: column;
gap: 15px;
}

.ad-img {
    width: 100%;
}

.ad-img img {
    width: 100%;
}

.ad-descript {
display: flex;
flex-direction: column;
gap: 15px;
font-size: 0.9rem;
text-align: justify;
}

.start-see {
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
height: 40px;
border: none;
background-color: #f47521;
}

.fa-play {
color: black;
margin-right: 7px;
}

#populares {
padding: 15px;
min-height: 400px;
margin-top: 20px;
}


#populares-item {
display: flex;
column-gap: 10px;
overflow-x: auto;
}


#populares-item::-webkit-scrollbar{ width: 0%; }

#att-recents {
padding: 15px;
min-height: 400px;
margin-top: 20px;
}


#recents-item {
display: flex;
column-gap: 10px;
overflow-x: auto;
}


#recents-item::-webkit-scrollbar{ width: 0%; }


.snorlax {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    justify-content: center;
    width: 100%;
}

.snorlax-img {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.snorlax-img img {
    width: 280px;
}

.snorlax-title h2 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 25px;
}

.see-all {
    height: 40px;
    width: 350px;
    margin-top: 30px;
    margin-bottom: 40px;
    background: none;
    font-weight: bold;
    border: 2px solid #f47521;
    color: #f47521;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background-image: linear-gradient(to bottom, black, #213944);
}

footer > div > h2 {
    font-size: 1rem;
    width: 150px;
}

footer > div > div > p {
    font-size: 0.9rem;
    line-height: 30px;
    color: #a0a0a0;
}

#navegacao {
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
}

#contact {
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
   
    border-top: 1px solid #a0a0a055;
}

#contact i {
    margin-right: 10px;
}

#animes-only {
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
    
    border-top: 1px solid #a0a0a055;
}

#copright {
    border-top: 1px solid #a0a0a055;
    padding: 30px 0;
    color: #a0a0a0;
   
    text-align: center;
}

#copright p {
    font-size: 0.9rem;
}


@media screen and (min-width:600px) and (max-width:768px) {    #carrosel {
    height: 650px;
    }

    #slider {
        border: 2px solid black;
        height: 600px;
        width: 400px;
    }

    .container{
        height: 100%;
       
    }

    .container img {
       min-width: 400px;
    }

    .cartaz {
        max-width: 700px;
        padding: 0 40px;
    }

    .cartaz img {
        width: 100%;
    }
    
    #new-animes {
        max-width: 700px;
        min-height: 700px;
        padding: 0 40px;
    }

    #ontem-item {
        display: flex;
        flex-direction: column;
    }

    .animes-new {
        max-width: 700px;
        height: 90px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

    }

    .covers-img {
        width: 150px;
    }

    .covers-img img {
        height: 100%;
    }

    .covers-descript {
        justify-content: center;
        width: 70%;
    }

    

    .propaganda {
        max-width: 700px;
        padding: 0 40px;
    }
}

