@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
padding-top: 60px;
background-color: #000;
color: #fff;}

header {
display: flex;
position:fixed;
top: 0;
width: 100%;
height: 60px;
justify-content: space-between;
background-color: rgb(35, 37, 43);
}

.menu {display: flex;}

.navbar {  
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
}

.nav-menu {
display: flex;
gap: 10px;
position: fixed;
top: 60px;
left: -100%;
padding: 50px 20px;
background-color: #000;
flex-direction: column;
width: 100% !important;
height: 100vh;
transition: 0.1s;
z-index: 2;
}

.nav-menu2 { border-top: 1px solid gray; }

.nav-menu.active { left: 0; }

.nav-item {
list-style: none;
margin: 16px 0;
}

.nav-link {
color: #fff;
text-decoration: none;
transition: 0.5s ease;
}

.hamburguer {
display: block;
cursor: pointer;
font-size: 20px;
z-index: 3;
}

.navbar:hover { background-color: #202020;}

.hamburguer.active .bar:nth-child(2) { opacity: 0; }

.hamburguer.active .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
}

.bar {
display: block;
width: 20px;
height: 2px;
border-radius: 2px;
margin: 5px auto;
background-color:#fff;
transition: all 0.3s ease-in-out;
}

.logo {
display: flex;
width: 60px;
justify-content: center;
align-items: center;
margin-left: 20px;

}

.logo p {
font-size: 23px;
color: red;
}

.logo p:hover { color: #fff; cursor: pointer;}

.icones { display: flex; }

.icon {
width: 60px;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
}

.icon:hover { background-color: #202020;}

.fa {color: #fff; font-size: 20px;}

.fa-star { color: rgb(250, 184, 24);}


/* SESSÃO SLIDE*/

#slider {
margin: 0 auto;
overflow: hidden;
height: 420px;
width: 280px;
}

.container {
display: flex;
transition: transform 0.2s ease-in-out;
transform: translateX(0);
width: 280px;
}

.container img {
object-fit: cover;
max-height: 420px;
width: 280px;
}


/* BOTÃO CLASSIFICAÇÃO*/

.classificacao {
display: flex;
align-items: center;
margin: 40px auto;
color: #fff;
background-color: #232323;
padding: 10px 0;
padding-left: 15px;
width: 320px;
}

.fa-exclamation-circle {
color: #fff;
margin-right: 10px !important;}


/* SESSÃO ASSISTA GRATÍS*/

#watch-free {
color: #fff;
background-color: #000;
padding-left: 15px;
}

#watch-free h2 { margin-bottom: 10px; }

.blue-bar {
height: 4px;
background-image: linear-gradient(to left,#213944,#2abdbb);
width: 95%;
margin: 10px 0;
}


#watch-item {
display: flex;
gap: 10px;
overflow-x: auto;
}

#watch-item::-webkit-scrollbar { width: 0%; }


.animes-sugest {
display: flex;
flex-direction: column;
justify-content: center;
min-width: 170px;
min-height: 300px;
color: #fff;
}

.animes-sugest img {
max-width: 100%;
max-height: 100%;
margin-bottom: 10px;
}

.animes-sugest h3 {
text-align: start;
font-size: 0.9rem;
margin-bottom: 5px;
}

.animes-sugest > p {
font-size: 0.9rem;
color: #a0a0a0;
max-width: 100%;
}


/* SESSÃO LANÇAMENTOS*/

#new-animes {
min-height: 400px;
margin-top: 40px;
padding: 0 15px;
}

.fa-play-circle-o {
font-weight: normal;
font-size: 25px;
margin-right: 7px;
}


.orange-bar {
width: 100%;
margin-top: 10px;
margin-bottom: 15px;
height: 4px;
background-image: linear-gradient(to left,#fab818,#ef4323);
}

#hoje-item {
padding-top: 15px;
margin-top: 15px;
border-top: 2px solid rgb(104, 104, 104);
}

.animes-new {
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
height: 105px;
width: 100%;
}

.covers-img {
width: 40%;
height: 100%;
}

.covers-img img {
width: 100%;
}

.covers-descript {
width: 60%;
position: relative;
height: 100%;
display: flex;
flex-direction: column;
gap: 5px;
}

.covers-descript h4 {
font-size: 0.9rem;
}

.covers-descript .fa-star {
font-size: 15px;
margin-right: 5px;
}

.covers-descript p {
font-size: .875rem;
color: #a0a0a0;
}

.covers-descript .covers-time {
    color: #2abdbb;
    position: absolute;
    bottom: 29%;
    right: 0;
}

#ontem-item {
display: flex;
flex-direction: column;
margin-top: 15px;
padding-top: 15px;
border-top: 2px solid rgb(104, 104, 104);
}

.see-more {
    width: 100%;
    height: 40px;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: #213944;
}

.propaganda {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ad-img {
    width: 100%;
}

.ad-img img {
    width: 100%;
}

.ad-descript {
display: flex;
flex-direction: column;
gap: 15px;
font-size: 0.9rem;
text-align: justify;
}

.start-see {
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
height: 40px;
border: none;
background-color: #f47521;
}

.fa-play {
color: black;
margin-right: 7px;
}

#populares {
padding: 15px;
height: 400px;
}


#populares-item {
display: flex;
gap: 10px;
overflow-x: auto;
}



#populares-item::-webkit-scrollbar{ width: 0%; }



